*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:rgb(0, 0, 0); 
}
img{
  margin-top: 10px;
  width:350px; 
  height:250px;
  position: sticky;
  left: 38%;
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: rgb(0, 231, 31);
  
}
p{
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(0, 0, 0);
 text-align: center;
  font-size: 18px;
  color: rgb(0, 255, 34);
  font-weight: 100;
  padding-bottom: 5px;
  padding-top: 10px;
}
p.c , p.e{
  background-color: black;
}
.k h1{
  background-color: rgb(0, 231, 31);
}

address{
  margin-left: 20px;
}
address a{
  color: rgb(0, 255, 34);
  font-size: 15px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}

footer p{
  font-size: 12px;
  text-align: center;
}

address a:hover{
  color: brown;
}

